$pale-pink: #FFF6F6;
$bright-red: #B40101;
$tangerine-orange: #FDA772;
$navy-blue: #0F5184;
$steel-blue: #4C7DA3;

$charcoal-gray: #666666;
$dark-silver-gray: #AAAAAA;
$silver-gray: #C9C9C9;
$alabaster-white: #FAFAFA;