$pale-pink: #FFF6F6;
$bright-red: #B40101;
$tangerine-orange: #FDA772;
$navy-blue: #0F5184;
$steel-blue: #5684A8;
$periwinkle-blue: #C6D8E5;

$charcoal-gray: #666666;
$dark-silver-gray: #AAAAAA;
$silver-gray: #C9C9C9;
$off-white: #EEEEEE;
$alabaster-white: #FAFAFA;