body {
    background: $alabaster-white;
    color: $charcoal-gray;
    font-family: Avenir, sans-serif;
    margin: 0;
}

.app-container {
    height: 100vh;
    width: 100vw;
}

a {
    color: $steel-blue;

    &:hover {
        cursor: pointer;
    }
}

textarea, select, input, button {
    outline: none;
}

.logo {
    color: $charcoal-gray;
    font-family: Chalkduster;
    font-size: 24px;
    
    .send {
        color: $tangerine-orange;
    }

    &:hover {
        cursor: default;
    }
}

i {
    &.fa-times-circle {
        color: $bright-red;
    }

    &.fa-check-circle {
        color: green;
    }
}

.flash {
    padding: 10px;

    &.danger {
        background: $pale-pink;
        border: 1px solid $bright-red;
        color: $bright-red;
    }
}

.form-container {
    background: white;
    border: 1px solid $silver-gray;
    border-radius: 4px;
    height: fit-content;
    padding: 30px;

    .form-header {
        text-align: center;

        h2 {
            margin: 12px;
        }

        .logo {
            font-size: 32px;
        }
    }

    .btn {
        width: 100%;
    }

    .flash {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .helper-text {
        color: $silver-gray;
        float: right;
        font-size: 10px;
        font-style: italic;
        margin-top: 30px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding-bottom: 32px;

    .form-label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-input-container {
        border-radius: 10px;
        display: flex;
        position: relative;

        i {
            align-self: center;
            font-size: 16px;
            position: absolute;
            right: 15px;
        }
    }

    .form-text-input {
        border: 1px solid $dark-silver-gray;
        border-radius: 10px;
        color: $charcoal-gray;
        font-family: Avenir, sans-serif;
        padding: 10px 15px;
        width: 100%;

        &::placeholder {
            color: $silver-gray;
        }

        &:focus {
            border: 1px solid $navy-blue;
        }
    }

    .form-helper-text {
        color: $silver-gray;
        font-size: 10px;
        margin-top: 8px;
        margin-left: 2px;
    }

    .form-dropdown-input {
        background: white;
        border: 1px solid $dark-silver-gray;
        color: $charcoal-gray;
        height: 37px;
        font-family: Avenir, sans-serif;
        text-indent: 6px;

        &:focus {
            border: 1px solid $navy-blue;
        }
    }
}

.tag {
    background: $apricot-orange;
    border: 1px solid $sienna-orange;
    border-radius: 2px;
    color: $sienna-orange;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.25px;
    padding: 2px 4px;
}

.btn {
    border: none;
    font-family: Avenir, sans-serif;
    padding: 0;
    
    div {
        &:hover {
            background: rgba(0, 0, 0, 0.05);
            cursor: pointer;
        }
    }

    &.btn-large {
        letter-spacing: 1.5px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        div {
            padding: 10px;
        }
    }

    &.btn-medium {
        display: inline-flex;
        font-weight: 500;
        font-size: 11px;
        justify-content: center;
        letter-spacing: 0.25px;
        min-height: 30px;

        div {
            padding: 7px;
            width: 100%;
        }
    }

    &.btn-red-inverse {
        background: white;
        border: 2px solid $bright-red;
        border-radius: 5px;
        color: $bright-red;
        padding: 8px 18px;

        &:hover {
            background: $bright-red;
            color: white;
            text-decoration: none;
        }
    }

    &.btn-small {
        border: 1px solid;
        font-weight: 500;
        font-size: 10px;
        padding: 1.5px 9px;
    }

    &.btn-orange {
        background: $tangerine-orange;
        color: white;
    
        &.active {
            background: darken($tangerine-orange, 10%);
        }
    }

    &.btn-blue {
        background: $steel-blue;
        color: white;
    
        &.active {
            background: darken($steel-blue, 10%);
        }
    }

    &.btn-dark {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        color: $periwinkle-blue;
    }
}

.sendit {
    display: flex;
    height: 100%;
    width: 100%;

    .menu-button {
        background: white;
        border: 1px solid $tangerine-orange;
        border-radius: 2px;
        display: none;
        margin-left: 20px;
        padding: 5px 10px;
        right: 0;

        i {
            color: $tangerine-orange;
        }

        &:hover {
            background: $tangerine-orange;
            cursor: pointer;

            i {
                color: white;
            }
        }
    }
}

.main-menu {
    border-right: 1px solid $silver-gray;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 17%;

    .logo-container {
        align-items: center;
        background: white;
        display: flex;
        min-height: 70px;
        justify-content: center;
    }

    .items-container {
        background: $steel-blue;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .btn {
            margin: 10px;
            margin-top: 15px;
            text-align: center;

            i {
                font-size: 14px;
                margin-right: 10%;
            }
        }

        a {
            text-decoration: none;

            &.selected {
                background: $navy-blue;
                color: white;
                font-weight: 500;
            }
        }

        .menu-items {
            margin-bottom: 20px;

            h4 {
                color: $off-white;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 1px;
                margin: 10px 0;
                padding: 0 24px;
                text-transform: uppercase;
            }
    
            a {
                color: $periwinkle-blue;
                display: block;
                letter-spacing: 0.3px;
                padding: 8px 24px;
                font-size: 12px;
                font-weight: 100;
    
                i {
                    font-size: 14px;
                    width: 27%;
                }
    
                &.selected {
                    background: $navy-blue;
                    color: white;
                    font-weight: 500;
                }
                
                &:hover {
                    background: $navy-blue;
                }
            }
        }
        
    }
}

@media screen and (min-width: 800px) and (max-width: 970px) {
    .main-menu {
        .logo {
            font-size: 20px;
        }

        .items-container {
            i {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
    .main-menu {
        min-width: 0;
        width: 50px;

        .logo-container {
            display: none;
        }

        .items-container {
            h4, span {
                display: none;
            }

            .menu-items {
                align-items: center;
                display: flex;
                flex-direction: column;
                min-height: 155px;
                overflow: hidden;

                a {
                    align-items: center;
                    padding: 11px 24px;
                }
            }
        }
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    .main-header {
        align-items: center;
        background: white;
        border-bottom: 1px solid $silver-gray;
        display: flex;
        min-height: 70px;
        justify-content: space-between;
        width: 100%;

        h2 {
            margin: 0;
            padding: 24px;
        }

        .btn {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1.25;
            margin-right: 30px;
            text-decoration: none;

            div {
                text-align: center;
                width: 200px;
            }
        }
    }

    .main-content {
        display: flex;
        flex-grow: 1;
        height: 100%;
        overflow: scroll;
        padding: 15px 24px;
    }
}

@media screen and (max-width: 499px) {
    .sendit .menu-button {
        display: block;
        position: absolute;
        margin: 20px;
    }

    .main-menu {
        display: none;

        &.show {
            display: flex;
            width: 300px;
        }
    }

    .main-container .main-header {
        .btn-orange {
            display: none;
        }
    }
}

.list-table {
    background: white;
    border-collapse: collapse;

    thead {
        border-bottom: 1px solid $off-white;
    }

    th, td {
        border: none;
    }
}

.results-table-container {
    border: 1px solid $silver-gray;
    border-radius: 4px;
}
.results-table {
    background: white;
    border: none;
    border-collapse: collapse;
    border-radius: 4px;
    display: table;
    width: 100%;

    .list-table {
        th, td {
            border: none;
        }
    }

    tr {
        &.row-result:nth-of-type(even) {
            background: $zircon-blue;
        }

        &:first-child > th {
            border-top: none;
        }

        &:last-child > td {
            border-bottom: none;
        }

        th {
            color: $dark-silver-gray;
            font-weight: 500;
            text-align: left;

            &.results-count {
                border-bottom: 1px solid $silver-gray;
                color: $dark-silver-gray;
                padding: 10px;
                font-size: 12px;
                font-weight: normal;
        
                .number {
                    color: $charcoal-gray;
                    font-weight: bold;
                }
            }
        }

        th, td {
            border: 1px solid $off-white;
            font-size: 12px;
            padding: 10px 12px;
    
            &:first-child {
                border-left: none;
            }
    
            &:last-child {
                border-right: none;
            }

            .tag:not(:first-child) {
                margin-left: 6px;
            }

            i {
                text-align: center;
            }

            .expand-link {
                color: $steel-blue;
                font-style: italic;
                text-decoration: underline;

                &.expanded {
                    font-weight: bold;
                }

                &:hover {
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }

        &.row-result.expanded {
            background: $zumthor-blue;
            border: 2px solid $botticelli-blue;
        }

        &.row-details {
            border: 2px solid $botticelli-blue;
        }
        
        .expand-triangle {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            
            border-bottom: 5px solid black;
        }
    }
}