.routes-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .routes-filters {
        .search-filter {
            width: 50%;

            .form-group {
                padding-bottom: 15px;
            }
        }

        .dropdown-filters {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .form-group {
                padding-bottom: 25px;
                width: 23%;

                .select {
                    width: 100%;
                }
            }
        }
    }

    .results-table-container {
        margin-bottom: 20px;
        width: 100%;

        .results-table {
            th {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            td[id=Actions] {
                min-width: 115px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            td[id=Sent] {
                text-align: center;

                .fa-check {
                    color: $green;
                }
            }

            td[id=Flash] {
                text-align: center;
                
                .fa-check {
                    color: $yellow;
                }
            }

            .expand-link {
                margin-left: 10px;
            }
        }
    }

    .route-header {
        align-items: center;
        border-bottom: 1px solid $silver-gray;
        display: flex;
        justify-content: space-between;

        h2 {
            margin-top: 10px;
        }

        .route-stats {
            display: flex;

            .route-stat {
                border-right: 1px solid $off-white;
                color: $dark-silver-gray;
                padding: 10px;
                font-size: 12px;
                font-weight: normal;
        
                .number {
                    color: $charcoal-gray;
                    font-weight: bold;
                }
    
                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .route-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .tag:not(:first-child) {
            margin-left: 6px;
        }

        .card {
            margin-bottom: 10px;
        }

        .card[id=Details], .card[id=Photos] {
            width: 44%;
        }
    }

    .list-table {
        width: 100%;

        th[id=Number\ of\ attempts], th[id=Sent\?],
        td[id=Number\ of\ attempts], td[id=Sent\?] {
            text-align: center;

            .fa-check {
                color: $green;
            }
        }

        td:last-child {
            max-width: 70%;
        }
    }
}

@media screen and (max-width: 970px) {
    /*
    .routes-container > .results-table-container > .results-table {
        th[id=Location], th[id=Type], th[id="Date Added"], th[id=Tags], 
        td[id=Location], td[id=Type], td[id="Date Added"], td[id=Tags] {
            display: none;
        }

        td[id=Name], td[id=Location] {
            max-width: 500px;
        }
    }
    */
}

@media only screen and (max-width: 800px) {
    .routes-container > .route-details {
        .card[id=Details], .card[id=Photos] {
            width: 100%;
        }
    }
}
